@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(kame.jpg);
  background-size: cover;
  object-fit: cover;
}

ul {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  height: 80px;
}

li {
  list-style: none;
  text-align: center;
  height: 80px;
  line-height: 3;
  font-weight: bold;
  width: 150px;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px gray;
  margin-left: 10px;
}

li:hover {
  background-image: url(earth.jpg);
  background-size: cover;
  background-position: center;
}

.sec-title {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 10em;
  top: 20%;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.k-1 {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1.0, 1.0) translate(0%, 0%);
  }

  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }

  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }

  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }

  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }

  100% {
    transform: scale(1.0, 1.0) translate(0%, 0%);
  }
}


#spot {
  margin-top: 20px;
}

#spot .tree {
  background-image: url(mounten.jpg);
  position: relative;
  background-size: cover;
  height: 320px;
}

.fixed-bg {
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.world {
  max-width: 1240px;
  margin: 50px auto 10px;
}

.sec-title2 {
  text-align: center;
  margin-bottom: 40px;
}



.fadein {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid .item {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}

.grid .item-content {
  padding: 30px;
}

.grid .item-cat {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.grid .item-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.grid .item-date {
  font-size: 0.75rem;
  text-align: right;
}

#location .location-img {
  background-image: url(sumaho.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  height: 450px;
}

#location h2 {
  text-align: center;
  font-size: 10em;
  color: white;
  text-shadow: 0 0 8px blue;
  padding-top: 65px;
}

k-1 {
  transition: bounce 3s infinite;
}

.item-map {
  text-align: center;
  margin-top: 80px;
}

.item-info {
  text-align: center;
}

.k-2 {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
  animation: bounce 3s infinite;
  margin: 0 auto;
  background-color: aqua;
}

#contact {
  font-size: 20px;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(22, 135, 237) 0%, rgb(210, 6, 152) 50%, rgb(210, 6, 152) 100%);
}

.form-item {
  width: 70%;
  margin: 0 auto;
}

input {
  padding: 10px 0;
  margin: 30px 0;
  width: 100%;
}

textarea {
  margin: 30px 0;
  padding: 10px 0;
  width: 100%;
}

.form-item button {
  margin: 0 auto;
  display: block;
  padding: 10px 100px;
  color: white;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(22, 135, 237) 0%, rgb(210, 6, 152) 50%, rgb(210, 6, 152) 100%);
  background-size: 200% 100%;
}

#footer p {
  font-size: 0.5rem;
  text-align: center;
}

#footer {
  height: 70px;
}